* { box-sizing: border-box;}
*:before,*:after { box-sizing: border-box; }
html, body {
 height: 100%;
 position: relative;
}

body {
	font-family: 'Press Start 2P', cursive;
	color: #FFFFFF;
	background-color: #FFFFFF;
  margin: 0;
}

.clear:after { /*Clearfix para floats*/
	content: "";
	display: block;
	clear: both;
}

a {
	text-decoration: none;
	color: #212121;
}

a:hover {
	color: #484848;
}

address, article, aside, figcaption, figure, footer, header, nav, section {
	display: block;
	margin: 0;
}

label {
	margin-left: 10px;
	margin-right: 10px;
}

nav ul, p, h1, h2, h3, h4, h5, h6, form, fieldset {
  text-transform: uppercase;
  margin: 0;
	padding: 0;
	border: none;
}

button {
  font-family: 'Press Start 2P', cursive;
	color: #212121;
	background-color: #FFFFFF;
  border: 3px solid #212121;
  font-size: 18px;
  letter-spacing: -11px;
  text-align: center;
  width: 80px;
  padding: 5px 14px 3px 4px;
  margin: 0 2px;
}
button:hover{
  color: #4D4D4D;
  cursor: pointer;
  border: 3px solid #4D4D4D;
}
button:disabled, button:disabled:hover {
  cursor: default;
  background-color: #DEDEDE;
  color: #616161;
  border: 3px solid #616161;
}

/* --------------------------- Page structure ------------------------------*/
#page-container {
	overflow: hidden;
	display: block;
  position: relative;
	min-height: 100vh;
}

#content-wrap {
	margin: 0;
	background-color: #FFFFFF;
	color: #212121;
}

footer {
	position: absolute;
  bottom: 0;
  width: 100%;
	text-align: center;
	background-color: #212121;
}

footer p, footer a {
	color: #DEDEDE;
	font-size: 30px;
	margin: 2px 0 8px 0;
}

div.top {
	background-color: #212121;
}

#header {
	width: 100%;
	margin: 0 auto;
	padding: 16px 0 8px 0;
}

#header a {
  color: #DEDEDE;
}

#header #hgroup {
	text-align: center;
	margin: 0 0 10px 0;
}

#header nav {
	display: block;
	width: 100%;
	margin: 0;
	padding: 10px 0;
	font-weight: bold;
	font-size: 10px;
	background-color: #212121;
	clear: both;
}

#header ul {
	padding: 0 20px;
	font-size: 10px;
	text-align: center;
}

#header nav li {
	display: inline-block;
	color: #C0BAB6;
	margin-right: 12px;
	font-weight: normal;
}

#header nav li.best {
	margin-right: 0;
}

#header nav li a {
  font-size: 10px;
  border: 3px solid #DEDEDE;
  padding: 5px;
	color: #DEDEDE;
	font-weight: bold;
}

#header nav li a:hover {
  border: 3px solid #C0BAB6;
	color: #C0BAB6;
}

#header h1 {
  font-size: 1.8em;
  margin: auto 5px;
}

/*---------------------------- Contenido -----------------------------------*/
#container {
	font-size: 10px;
	padding: 20px 0 30px 0;
  text-align: center;
	width: 100%;
	margin: 0 auto;
  overflow-x: auto;
}

#container h1 {
  font-size: 14px;
}

img {
	vertical-align: middle;
}

ul.errorlist {display: none;}

/*------------- BOARD -----------------------------*/
#board {
	width: 360px;
	margin: 10px auto 0 auto;
}

form {
  font-size: 10px;
}

form input[type=text], form input[type=password], form input[type=submit] {
  display: block;
  border: 3px solid #212121;
  background-color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  padding: 7px;
  margin: 8px auto 14px auto;
  max-width: 180px;
}

form input[type=submit] {
  margin-top: -6px;
  cursor: pointer;
  text-transform: uppercase;
}

.joinbtn { display: inline-block; }
.joinbtn a {
  font-size: 12px;
  margin: 15px 6px;
  display: inline-block;
  padding: 4px;
  border: 3px solid #212121;
}
.joinbtn a:hover{
  cursor: pointer;
  border: 3px solid #4D4D4D;
}

.searchGame {
  display: block;
  margin: 20px 6px 0 0;
}

.searchGame a {
  font-size: 12px;
  margin: 15px 6px;
  display: inline-block;
  padding: 4px;
  border: 3px solid #212121;
}
.searchGame a:hover{
  cursor: pointer;
  border: 3px solid #4D4D4D;
}

.pagination {
  margin: 20px auto 30px auto;
}

#tabletop {
  margin: 16px auto;
}

#tabletop .joinbtn a {
  margin: 0 auto;
}

.games_table {
  min-width: 540px;
  background-color: #FFFFFF;
  margin: 0 auto 12px auto;
  border-collapse: collapse;
  overflow-x: auto;
}
.games_table td {
  font-size: 10px;
  border: 3px solid #212121;
  padding: 8px;
}
.games_table th {
  font-size: 10px;
  border: 3px solid #212121;
	border-bottom-color: #212121;
  padding: 8px 8px 8px 14px;
  background-color: #212121;
  color: white;
}
#overlay {
  position: absolute;
	top: 176px;
  width: 360px;
  height: 373px;
	text-align: center;
  background-color: gray;
  opacity: 0;
}

select {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    margin: 0;
    display: inline-block;
    padding: 4px;
    background: white;
    border: 3px solid #212121;
    min-width: 100px;
}
#filterbtn {
    display: inline-block;
}
@media (max-width: 540px) {
  .games_table {min-width: 320px;}
  #filterbtn {display: block; margin: 10px auto;}
}
#chess_board {
	border-collapse: collapse;
	border: 4px solid #3D3D3D;
}

#chess_board td {
	background:#fff;
	height: 45px;
	width: 45px;
	text-align: center;
	border: 3px solid #8D8D8D;
	margin: 0;
	padding: 0;
}

#chess_board tr:nth-child(odd) td:nth-child(even),
#chess_board tr:nth-child(even) td:nth-child(odd) {
	background:#ccc;
}

.token {
	height: 40px;
	width: 40px;
	margin: 0;
	padding: 0;
}
