{% extends "mouse_cat/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="container">
    <h1>#{{ game.id }}: Playing{% if game.cat_user.id == request.user.id %} as cats{% else %} as mouse{% endif %}</h1>
    <div id="tabletop">
      <p>
      {% if game.status == 2 %} Game finished! {% if game.cat_wins %}{{game.cat_user.username}}{% else %}{{game.mouse_user.username}}{% endif %} wins!
      {% elif game.cat_user.id == request.user.id and game.cat_turn %} It's your turn!
      {% elif game.mouse_user.id == request.user.id and not game.cat_turn %} It's your turn!
      {% elif game.cat_user.id == request.user.id %}Waiting for {{ game.mouse_user.username }}...
      {% else %}Waiting for {{ game.cat_user.username }}...
      {% endif %}
      </p>
    </div>
    {% if board %}
    <div id="board">
        <table id="chess_board">
        <form id="new_move_form" method="post" action="{% url 'move' %}">
        {% csrf_token %}
        {% for item in board %}
            {% if forloop.counter0|divisibleby:8 %}<tr>{% endif %}
            <td id="target_{{ forloop.counter0}}" onclick="clickFunction(this); this.style.backgroundColor = '#2196F3';">
                {% if item ==  0 %}
                {% elif item == 1 %}
                <div id="piece_{{ forloop.counter0}}">
                  <img class="token" src="{% static 'img/cat.png' %}" alt="cat" style="{{cat}}"/>
                </div>
                {% elif item == -1 %}
                <div id="piece_{{ forloop.counter0}}">
                  <img class="token" src="{% static 'img/mouse.png' %}" alt="mouse" style="{{mouse}}"/>
                </div>
                {% endif %}
            </td>
            {% if forloop.counter|divisibleby:8 or forloop.last %}</tr>{% endif %}
        {% endfor %}
        </form>
        </table>
        {% if game.status == 2 %}
        <div id="overlay"></div>
        {% elif game.cat_user.id == request.user.id and not game.cat_turn %}
        <div id="overlay"></div>
        {% elif game.mouse_user.id == request.user.id and game.cat_turn %}
        <div id="overlay"></div>
        {% endif %}
    </div>
    {% endif %}
    <div class="joinbtn"><a href="{% url 'landing' %}"><-&nbsp;BACK</a></div>

    <script type="text/javascript">
    function post(params, method='post') {
      const form = document.getElementById("new_move_form");
      for (const key in params) {
        if (params.hasOwnProperty(key)) {
          const hiddenField = document.createElement('input');
          hiddenField.type = 'hidden';
          hiddenField.name = key;
          hiddenField.value = params[key];
          form.appendChild(hiddenField);
        }
      }
      form.submit();
    }
    var clicks = 0;
    var origin = -1;
    var target = -1;
    function clickFunction(cell) {
      if (clicks == 0) {
        clicks++;
        origin = Number(cell.id.split("_").pop());
      }
      else if (clicks == 1) {
        clicks = 0;
        target = Number(cell.id.split("_").pop());
        post({origin: origin, target: target});
      }
    }
    setTimeout(function(){location.reload();},5000);
    </script>
</div>
{% endblock content %}
