{% extends "mouse_cat/base.html" %}
{% load staticfiles %}
{% load app_filters %}

{% block content %}
<div id="container">
    <h1>#{{ game.id }}: Replay
    {% if game.cat_user.id == request.user.id and game.cat_wins %}
    (<font color="#4CAF50;">W</font>)
    {% elif game.mouse_user.id == request.user.id and not game.cat_wins %}
    (<font color="#4CAF50;">W</font>)
    {% else %}
    (<font color="#F44336;">L</font>)
    {% endif %}

    <div id="tabletop">
      <div class="joinbtn"><a href="{% url 'landing' %}"><-</a></div>
      <div class="joinbtn"><a href="{% url 'landing' %}">|></a></div>
      <div class="joinbtn"><a href="{% url 'landing' %}">||</a></div>
      <div class="joinbtn"><a href="{% url 'landing' %}">-></a></div>
    </div>
    {% if board %}
    <div id="board" style="margin-top: 0">
        <table id="chess_board">
        <form id="new_move_form" method="post" action="{% url 'move' %}">
        {% csrf_token %}
        {% for item in board %}
            {% if forloop.counter0|divisibleby:8 %}<tr>{% endif %}
            <td id="target_{{ forloop.counter0}}">
                {% if item ==  0 %}
                {% elif item == 1 %}
                <div id="piece_{{ forloop.counter0}}">
                  <img class="token" src="{% static 'img/cat.png' %}" alt="cat" style="{{cat}}"/>
                </div>
                {% elif item == -1 %}
                <div id="piece_{{ forloop.counter0}}">
                  <img class="token" src="{% static 'img/mouse.png' %}" alt="mouse" style="{{mouse}}"/>
                </div>
                {% endif %}
            </td>
            {% if forloop.counter|divisibleby:8 or forloop.last %}</tr>{% endif %}
        {% endfor %}
        </form>
        </table>
    </div>
    {% endif %}
    <div class="joinbtn"><a href="{% url 'landing' %}"><-&nbsp;BACK</a></div>

    <script type="text/javascript">
    var move_iter = 0;
    function post(params, method='post') {
      const form = document.getElementById("leform");
      for (const key in params) {
        if (params.hasOwnProperty(key)) {
          const hiddenField = document.createElement('input');
          hiddenField.type = 'hidden';
          hiddenField.name = key;
          hiddenField.value = params[key];
          form.appendChild(hiddenField);
        }
      }
      form.submit();
    }
    function nextMove() {
      move_iter++;
      return false;
    }
    </script>
</div>
{% endblock content %}
