{% extends "mouse_cat/base.html" %}

{% load staticfiles %}

{% block content %}
<div id="content">
    <h1>Service catalog</h1>

    <ul>
        <li><a href="{% url 'logic:login' %}">Login</a></li>
        <li><a href="{% url 'logic:logout' %}">Logout</a></li>
        <li><a href="{% url 'logic:signup' %}">Signup</a></li>
        <li><a href="{% url 'logic:counter' %}">Counter</a></li>
        <li><a href="">Create game</a></li>
        <li><a href="">Join game</a></li>
        <li><a href="">Select game</a></li>
        <li><a href="">Show selected game and play</a></li>
    </ul>
</div>
{% endblock content %}
