{% extends "mouse_cat/base.html" %}

{% load staticfiles %}

{% block content %}
<div id="content">
    <h1>Service catalog</h1>

    <ul>
        <li><a href="{% url 'logic:login' %}">Login</a></li>
        <li><a href="{% url 'logic:logout' %}">Logout</a></li>
        <li><a href="{% url 'logic:signup' %}">Signup</a></li>
        <li><a href="{% url 'logic:counter' %}">Counter</a></li>
        <li><a href="{% url 'logic:create_game' %}">Create game</a></li>
        <li><a href="{% url 'logic:join_game' %}">Join game</a></li>
        <li><a href="{% url 'logic:select_game' %}">Select game</a></li>
        <li><a href="{% url 'logic:show_game' %}">Show selected game and play</a></li>
    </ul>
</div>
{% endblock content %}
