{% extends "mouse_cat/base.html" %}

{% block content %}
<div id="container">
    <h1>Register a new user</h1>
    <br><br>
    {% if user_form %}
    <form id="user_form" method="post" action="{% url 'signup' %}" style="width: 320px; margin: 0 auto">
        {% csrf_token %}
        {{ user_form.as_p }}<br/>
        <input type="submit" name="submit" value="Register" />
    </form>
    {% else %}<h3><br>Your user was created succesfully. Let's play some games!</h3><br>{% endif %}
    <div class="joinbtn"><a href="{% url 'landing' %}"><-&nbsp;BACK</a></div>
</div>
{% endblock content %}
