{% extends "mouse_cat/base.html" %}

{% block content %}
<div id="content">
    <h1>Signup user</h1>
    {% if user_form %}
        <form id="user_form" method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ user_form.as_p }}<br/>
            <input type="submit" name="submit" value="Register" />
        </form>
    {% else %}
        <p>User successfully created</p>
    {% endif %}
    <p><a href="{% url 'landing' %}">Return to homepage</a></p>
</div>
{% endblock content %}